div.main-inner-first{
					width:80%;
					
								margin-top:0px;margin-bottom:10px;
			margin-left:auto;margin-right:auto;
					border-left:1px solid #eee;
									border-right:1px solid #eee;
			box-sizing:border-box;	
			padding:10px;
					height:900px;
					box-shadow:3px 3px 3px #ddd,-3px 3px 3px #ddd;
				
position:relative;
}

		
div.main-inner-first >div{
         float:left;
		 box-sizing:border-box;

}				
		
input#button{
			position:absolute;			
		     top:490px;
			 left:120px;
			height:35px;
			width:190px;
			 margin:0px;
			 padding:0px;
			 background:#fff;
			 
			 border:2px solid #11213d;
			 
			 border-radius:6px;
			 font-family:Georgia;
			 font-size:19px;
			 color:#11213d;
			 
		}
		div.buttons{
				margin-bottom:20px;
		}
div.buttons  input[type="button"]{
           height:40px;
			width:190px;
			 margin:0px;
			 margin-right:10px;
			 padding:0px;
			 background:#11213d;
			 border:1px solid #rgba(0,0,0,0.6);
			 box-shadow:2px  3px 3px #ddd;
			 border:1px solid white;
			 border-radius:6px;
			 font-family:Georgia;
			 font-size:19px;
			 color:white;
			 

}		
div.links{
		margin-left:10px;
}

 div.links a:link{
			
               margin-right:20px;
			   color:#11213d
 }
 a:link.atc:after{
			
		content:url('addtocart.jpg');
		
 }
 a:link.atf:after{
		content:url('addtofavourites.jpg');
		
 
 }